:root {
  --c-13: #000000;
  --c-12: #141414;
  --c-11: #2b2b2b;
  --c-10: #404040;
  --c-9: #525252;
  --c-8: #616161;
  --c-7: #737373;
  --c-6: #878787;
  --c-5: #999999;
  --c-4: #b2b2b2;
  --c-3: #c7c7c7;
  --c-2: #e5e5e5;
  --c-1: #f5f5f5;
  --c-0: #ffffff;
  --p-1: #ffbb00;
  --p-2: #e4a30b;
  --p-3: #a66f00;
  --p-4: #664400;
  --p-5: #332200;
}

.c-0 {
  color: var(--c-0);
}
.c-1 {
  color: var(--c-1);
}
.c-2 {
  color: var(--c-2);
}
.c-3 {
  color: var(--c-3);
}
.c-4 {
  color: var(--c-4);
}
.c-5 {
  color: var(--c-5);
}
.c-6 {
  color: var(--c-6);
}
.c-7 {
  color: var(--c-7);
}
.c-8 {
  color: var(--c-8);
}
.c-9 {
  color: var(--c-9);
}
.c-10 {
  color: var(--c-10);
}
.c-11 {
  color: var(--c-11);
}
.c-12 {
  color: var(--c-12);
}
.c-13 {
  color: var(--c-13);
}

.p-1 {
  color: var(--p-1);
}
.p-2 {
  color: var(--p-2);
}
.p-3 {
  color: var(--p-3);
}
.p-4 {
  color: var(--p-4);
}
.p-5 {
  color: var(--p-5);
}
