.depoimento {
  background-color: var(--p-1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.depoimento img {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
}
.depoimento-conteudo p {
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.25;
  margin-bottom: 32px;
  position: relative;
}
.depoimento p::before {
  content: "“";
  font-size: 4rem;
  color: var(--p-2);
  position: absolute;
  left: -60px;
  top: -20px;
}
.depoimento p::after {
  content: "”";
  font-size: 4rem;
  color: var(--p-2);
  position: absolute;
  bottom: -50px;
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento img {
    max-height: 300px;
  }
  .depoimento-conteudo {
    padding: 40px;
    justify-content: center;
  }
  .depoimento p::before {
    left: -40px;
  }
  .depoimento-conteudo p {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .depoimento-conteudo p {
    font-size: 1.5rem;
  }
  .depoimento p::before {
    font-size: 3rem;
    left: -30px;
    top: -20px;
  }
  .depoimento p::after {
    font-size: 3rem;
    bottom: -40px;
  }
}
